body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: #242E3B;
}

.container {
    height: 520px;
    width: 820px;
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    top: -50%;
    left: -50%;
}

.scores {
    text-align: center;
    font-size: 3em;
    font-family: 'Audiowide', 'Helvetica Neue', cursive;
}

.style-team1 {
    color: rgb(240, 0, 0);
}

.style-team2 {
    color: rgb(11, 76, 185);
}

.score-delimiter {
    color: #000;
}

.status-panel {
    float: right;
    width: 300px;
    height: 100%;
    -webkit-transform: perspective(900px) rotateY(-15deg) scale(1.047) translateX(-6px);
    -moz-transform: perspective(900px) rotateY(-15deg) scale(1.047) translateX(-6px);
    -ms-transform: perspective(900px) rotateY(-15deg) scale(1.047) translateX(-6px);
    transform: perspective(900px) rotateY(-15deg) scale(1.047) translateX(-6px);
    background-color: #ededed;
    box-shadow: 5px 2px 5px -1px rgba(0, 0, 0, 0.3);
}

#canvas {
    width: 520px;
    height: 520px;
    margin: 0;
    box-shadow: 5px 2px 5px 0 rgba(0,0,0,0.3);
}
