body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}

.container {
    height: 520px;
    width: 820px;
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    top: -50%;
    left: -50%;

}

.scores {
    text-align: center;
    font-size: 3em;
    font-family: 'Audiowide', 'Helvetica Neue', cursive;
}

.style-team1 {
    color: #F00;
}

.style-team2 {
    color: #00F;
}

.score-delimiter {
    color: #000;
}

.status-panel {
    float: right;
    width: 300px;
    height: 100%;
    background-color: #ccc5bf;
}

.team-caption {
    font-family: 'Audiowide', 'Helvetica Neue', cursive;
    font-size: 1.5em;
}

#canvas {
    width: 520px;
    height: 520px;
    margin: 0;
    background-color: #b1bbcc;
}
